/* Specificity Exercise */

/*specificity: 0-1-2*/
nav .list-item > a {
  color: var(--purple);
}

/*specificity: 1-0-1*/
#main::first-letter {
  color: var(--purple);
}

/*specificity: 0-1-1*/
input[type] {
  color: var(--purple);
}

/*specificity: 0-1-2*/
section .main::first-line {
  color: var(--purple);
}

/*specificity: 1-2-4*/
nav ul.menu li#first a:not([class='visited']) {
  color: var(--purple);
}

/*specificity: 0-0-10*/
div ol li ul li ol li ul li a {
  color: var(--purple);
}
